<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - Task WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Task WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95294AA21AFEF33400A657E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95294ACB1AFEF37200A657E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95BC7FAD1AFDF5D400AF8D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95BC7FC21AFDF5D500AF8D56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
